<p-toast></p-toast>
<p-confirmDialog></p-confirmDialog>

<div class="card">
    <p-toolbar styleClass="mb-6">
        <ng-template #start>
            <p-button label="New Product" icon="pi pi-plus" (onClick)="openNew()"></p-button>
        </ng-template>
    </p-toolbar>

    <p-table [value]="facade.products()" [rows]="10" [paginator]="true" [loading]="facade.loading()">
        <ng-template #header>
            <tr>
                <th>SKU</th>
                <th>Name</th>
                <th>Brand</th>
                <th>Units</th>
                <th style="width: 8rem"></th>
            </tr>
        </ng-template>
        <ng-template #body let-product>
            <tr>
                <td>{{ product.sku }}</td>
                <td>{{ product.name }}</td>
                <td>{{ product.brand }}</td> <td>{{ product.units?.length }} Units</td>
                <td>
                    <p-button icon="pi pi-pencil" [text]="true" (click)="edit(product)"></p-button>
                    <p-button icon="pi pi-trash" [text]="true" severity="danger" (click)="delete(product)"></p-button>
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>

<app-product-form
    [(visible)]="productDialog"
    [product]="selectedProduct"
    [brands]="facade.brands()"
    [categories]="facade.categories()"
    [loading]="isSaving"
    (save)="onSave($event)">
</app-product-form>
